/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/abr/2021, 13:26:16
    Author     : Beatriz Silva
*/

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {
    padding: 0px!important; 
}

.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
    text-align: center;
}

.logo {
    float: left;
    padding: 16px;
    width: 10px;
}

.redes-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    float: left;
    list-style: none;
}

.redes-sociais {
    width: 20%;
    float: right;
}

.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}

.menu-urls {
    height: 100px;
    border-bottom: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    margin-left: 80px;
    
}

.menu ul li:hover {
    border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover {
    color: #00bac6;

}

.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;
    
}

.busca {
    text-align: center;
    width: 20%;
    float: right;
}

.busca input {
    background-image: url(../img/icone-search.png);
    background-repeat: no-repeat;
    height: 20px;
    padding: 12px;
    width: 190px;
    margin-top: 10px;
    background-position: 96%;
    border: 1px solid #d6d6d6;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

.texto-destaque {
    text-align: center;
}

.texto-destaque strong {
    color: #646464;
}

.texto-destaque h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #818181;
}

.texto-destaque p {
    font-size: 15px;
    color: #9a9a9a;
    text-align: center;
}

.col-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; 
    float: left;
    position: relative;
    display: block;
    width: 290px;
}
.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.bloco-imagem {
    border: 1px solid #c5c5c5;
}

.bloco-imagem b, p {
    text-align: left;
}

.bloco-texto {
    margin-top: 3em;
}

h3 {
    font-weight: normal!important;
}

.bloco-imagens-texto {
    background-color: #eeeeee;
    padding: 50px 0px 100px 0px;

}

.image-content{
    width: 250px;
}

.img-header{
    margin: auto;
    display: block;
    width:425px;
}

#btn-1{
    margin: auto;
    display: block;
}

.btnCC{
    text-align: center;
}

.contcolecao br{
    text-transform: uppercase;
    color: #818181;
}

.column {
    float: left;
    width: 500px;
}

.row {
    display: table;
    clear: both;
}


.dropdown {
  float: none;
  overflow: hidden;
   
}

.dropdown .dropbtn {
 
  border: none;
  outline: none;
  padding: auto;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  color: #8b8b8b;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
   padding: 0px 16px;
    

  
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: buttonface;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
 
  
  
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.miniatura{
    color:#818181;
    text-transform:uppercase;
    margin-top: 165px; 
    text-align:center;
    
    
}

.descricao{
    font-size: 25px; 
    color: #9a9a9a;     
    text-align: center;
  
}